.gifts {

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 80px 20px;
        background: var(--tertiary-color);
    }

    &__title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: white;
    }

    &__desc {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 5%;
        color: white;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background: white;
        padding: 20px 10px;
        border-radius: 8px;

        img {
            width: 50%;
            height: auto;
            object-fit: contain;
        }
    }

    // &__card::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -18px;
    //     left: 10%;
    //     width: 80%;
    //     height: 15px;
    //     background: radial-gradient(ellipse at center, rgba(18, 0, 182, 0.151), transparent);
    //     filter: blur(6px);
    //     pointer-events: none;
    // }

    &__card-title {
        color: var(--primary-color);
    }

    &__card-subtitle {
        margin: 0 15%;
        text-align: center;
        color: var(--gray);
    }

    &__card-title::first-letter {
        text-transform: uppercase;
    }

}