.wedding {
  font-size: 20px;

  &__last-message {
    display: flex;
    justify-content: center;
    padding: 30% 10%;
    font-size: 30px;
    font-family: 'cursiva', 'Courier New', Courier, monospace;
  }
}