.wedding {
  background: #FAFAFA;
  position: relative;

  &__last-message {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30% 10%;
  }

  &__not-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  &__sound-container {
    position: fixed;
    top: 10px;
    right: 10px;
  }
}