.wedding {
  background: #FAFAFA;

  &__last-message {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30% 10%;
    font-family: 'cursiva', 'Courier New', Courier, monospace;
  }

  &__not-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}