.parents {

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    &__sub-container {
        padding: 0 10%;
    }

    &__flower-bottom {
        position: absolute;
        margin-bottom: -100px;
        margin-left: -40px;
        bottom: 0;
        left: 0;
        width: 40%;
        max-width: 250px;
        height: auto;
    }

    &__parents-container {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__parents-family-container {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__general-font,
    &__general-font * {
        color: var(--primary-color);
    }

    &__title {
        color: var(--primary-color);
    }

    &__desc {
        padding: 0 10%;
        color: var(--gray);
    }

    &__padrinos-container {
        display: flex;
        flex-direction: column;
        color: var(--gray);
    }

    &__padrino-container {
        display: flex;
    }

    &__padrino-line-container {
        width: 3px;
        border-right: 1px solid black;
    }

    &__circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        border-radius: 50%;
        background: var(--title-color);
        color: white;
        font-weight: 600;
        user-select: none;
        margin-left: -3px;
        margin-top: 30px;
    }

    &__padrino-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
        padding: 0px 0 20px 0;
    }

    &__padrino-text-container {
        flex-basis: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    &__flower-top-container {
        display: flex;

        img {
            width: 100%;
        }
    }

    &__flower-top-container--inverted {
        img {
            transform: rotate(180deg);
        }
    }
}