.parents {

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 100px 10%;
        text-align: center;
        gap: 20px;
        background: linear-gradient(0deg, rgba(233, 240, 247, 1) 0%, rgba(255, 255, 255, 1) 98%);
    }

    &__flower-bottom {
        position: absolute;
        margin-bottom: -30px;
        margin-right: -40px;
        bottom: 0;
        right: 0;
        width: 40vw;
        max-width: 400px;
        height: auto;
        transform: rotate(180deg);
    }

    &__title {
        font-size: 25px;
        color: rgb(28, 28, 80);
        font-family: 'title', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &__desc {
        padding: 0 10%;
        font-size: 20px;
        color: rgb(48, 48, 48);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}