$mobileMaxValue: 990px;

@font-face {
    font-family: "cursivaOld";
    src: url('https://magux14.github.io/wedding/fonts/Allura-Regular.ttf');
    size-adjust: 150%;
}

@font-face {
    font-family: "cursiva";
    src: url('https://magux14.github.io/wedding/fonts/Amoresa.ttf');
    size-adjust: 120%;
    line-height: 5px;
}

@font-face {
    font-family: "general";
    src: url('https://magux14.github.io/wedding/fonts/TTNorms-Medium.otf');
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'general', 'Courier New', Courier, monospace;
}

.text-center {
    text-align: center;
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    margin: 0;
    background: rgba(0, 0, 0, 0.712);
    font-size: 1.6rem;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

:root {
    --blue: rgb(17, 17, 143);
    --primary-color: rgb(44, 94, 82);
    --background-color-gradient: linear-gradient(to bottom, #fafffd 30%, #e9fff8 70%);
    --seconday-color: #469580;
    --tertiary-color: #95c7ba;
    --gray: rgb(116, 116, 116);
    --title-color: #a9852b;
    --title-color-light: #a4f899;
}

.main-button {
    position: relative;
    background: linear-gradient(135deg, #f0d187, #cfa55b);
    /* Degradado dorado */
    border: none;
    border-radius: 999px;
    padding: 10px 24px;
    font-weight: 600;
    color: #2e2e2e;
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.main-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.3) 48%, rgba(255, 255, 255, 0) 80%, transparent);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2),
        0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.main-button:active {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 2.5rem;
}

.cursive,
.cursive * {
    font-family: 'cursiva';
    line-height: 150%;
}