$mobileMaxValue: 990px;

@font-face {
    font-family: "cursiva";
    src: url('https://magux14.github.io/wedding/fonts/Better Saturday.ttf');
}

@font-face {
    font-family: "title";
    src: url('https://magux14.github.io/wedding/fonts/vectory-normal.otf');
}

* {
    box-sizing: border-box;
    user-select: none;
}

.text-center {
    text-align: center;
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    margin: 0;
}

.container {
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

:root {
    --blue: rgb(17, 17, 143);
}