.date-timer-countdown {

    * {
        color: var(--primary-color);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__date-container {
        display: flex;
        justify-content: center;
    }

    &__remaining-time-container {
        margin-top: -20px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding: 0 0 70px 0;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        margin: 0 10px;
    }

    &__block-number {
        font-size: 30px;
    }

    &__separator {
        display: flex;
        margin-top: 2px;
        font-size: 25px;
    }

    &__text {
        font-size: 15px;
        padding: 5px 30px;
    }

    &__date-text-container {
        display: flex;
        flex-direction: column;
        color: var(--primary-color);
        font-size: 10px;
        gap: 10px;
    }

    &__date-text-day-month-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    &__date-margin {
        width: 70px;
        padding: 8px 15px;
        border-top: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }

    &__date-number {
        font-size: 30px;
        font-weight: bold;
    }

    &__text-center {
        display: flex;
        justify-content: center;
    }

    &__cursive {
        color: gray;
        font-family: 'cursiva', 'Courier New', Courier, monospace;
    }
}