.date-timer-countdown {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__date-container {
        display: flex;
        justify-content: center;
    }

    &__remaining-time-container {
        display: flex;
        justify-content: center;
        background: rgba(15, 15, 31, 0.7);
        margin: 0 10%;
        border-radius: 10px;
        padding: 30px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 2px black;
        font-size: 15px;
        margin: 0 10px;
    }

    &__block-number {
        font-size: 30px;
    }

    &__separator {
        display: flex;
        margin-top: 2px;
        font-size: 25px;
    }

    &__text {
        font-size: 15px;
        padding: 5px 30px;
    }
}