.portrait {
    background: black;

    * {
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    &__container {
        color: white;
        min-height: 100vh;
        background-image: url('../img/portrait.jpg');
        background-size: 100vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__black-fade {
        background: rgba(0, 0, 0, 0.2);
        min-height: 100vh;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100vh;
    }

    &__title-container {
        display: flex;
        background: white;
    }

    &__title {
        font-size: 35px;
        text-align: center;
        color: var(--blue);
        padding: 0 10px;
    }

    &__title-middle-line-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        div {
            flex: 1;
        }
    }

    &__title-middle-line {
        border-bottom: 1px solid var(--blue);
    }

    &__names {
        text-align: center;
        font-size: 60px;
        font-family: 'Thesignature', 'Courier New', Courier, monospace;
    }

    &__invitation-text {
        text-align: center;
        font-size: 25px;
    }

}