.portrait {
    background: black;

    * {
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    &__container {
        color: white;
        background-image: url('../img/portrait.jpg');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__black-fade {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(237, 221, 83, 0) 20%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100dvh;
    }

    &__title-container {
        display: flex;
        background: rgb(255, 254, 249);
        padding: 15px 0;
    }

    &__title {
        font-size: 25px;
        text-align: center;
        color: var(--primary-color);
        padding: 0 10px;
    }

    &__title-middle-line-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        div {
            flex: 1;
        }
    }

    &__title-middle-line {
        border-bottom: 1px solid var(--primary-color);
    }

    &__names {
        text-align: center;
        font-family: 'cursiva', 'Courier New', Courier, monospace;
        font-size: 12vw;
        margin-top: 40px;
        color: var(--title-color-light);

        @media (min-width: 1200px) {
            font-size: 60px;
        }
    }

    &__invitation-text {
        text-align: center;
        font-size: 25px;
    }

}